@tailwind base;
@tailwind components;
@tailwind utilities;

/* tes styles globaux */
body {
  margin: 0;
  font-family: "Inter", system-ui, sans-serif;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
}

header {
  border-bottom: none !important;
  box-shadow: none !important;
}